.header {
    background: #1F2937;
    color: rgb(255, 255, 255);
    }

.links {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    color: white;
    justify-items: end;
    gap: 16px;
    
}

.button {
    background-color: #3382f6;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 8px 24px;
}

.logo {
    display: flex;
    padding: 8px;

}

.logo-and-links {
    display: flex;
    gap: 16px;
    align-items: center;
}